/* login page */

// import styles
@import (reference) "../_variables_mixins";
@import "../_uikit_custom";

@import '../md/_md_variables_mixins';
@import '../md/_md_buttons';
@import '../md/_md_cards';
@import '../md/_md_colors';
@import '../md/_md_forms';
@import '../md/_md_icons';
@import '../md/_md_utils';

@import "../components/_preloaders";
@import "../_altair_admin";

html, body {
  width: 100% !important;
  height: 100% !important;
}

body {
  padding: 0px;
  margin: 0px;
  font-size: 15px;
}

.login_page {
  .md-card-content {
    padding: 30px;
  }

  .login_heading {
    text-align: center;
    margin-bottom: 20px;

    #logo {
      width: 80px;
    }
  }

  @media @screen_medium_max {
    .md-card {
      height: 100vh;
    }

    .md-card-content {
      top: 15%;
      left: 0px;
      right: 0px;
      position: absolute;
    }
  }

  @media @screen_medium {
    display: table;
    width: 300px;
    height: auto;
    margin: auto;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
  }
}