/* selectize */
@import (less) "../../../vendor/selectize/dist/css/selectize.css";

.selectize-input {
    border-color: @border_color;
    line-height: 25px;
    padding: 6px 8px;
    &,
    &.focus {
        border-radius: 0;
        box-shadow: none;
        &:before {
            display: none;
        }
    }
    .md-input-danger & {
        border-color: @danger_color;
    }
    &.dropdown-active:before {
        display: none;
    }
}
.selectize-dropdown {
    margin-top: -44px;
    .boxShadowHelper(2);
    color: @text_primary_color;
    z-index: 1210;
    [data-selectable] {
        padding-top: 11px;
        padding-bottom: 10px;
        font-size: 15px;
        &.option-disabled {
            color: @text_muted;
            cursor: not-allowed;
        }
    }
    .active {
        background: @background_color_default;
        color: inherit;
    }
    .optgroup-header {
        font-size: 12px;
        color: @text_muted;
        padding-top: 8px;
        border-bottom: 1px solid @border_color_light;
        text-transform: uppercase;
    }
    &.multi {
        .item-icon {
            margin-right: 4px;
        }
    }
    &.selectize_fs {
        z-index: 9999;
    }
    &-content {
        // fix for ios
        -webkit-overflow-scrolling: auto;
    }
}
.selectize-control {
    .selectize-input {
        min-height: 40px;
    }
    &.multi {
        .selectize-input {
            line-height: 21px;
            > div {
                border-radius: 18px;
                padding: 3px 8px 2px;
                font-size: 14px;
            }
            .selectize-input.has-items {
                padding: 4px;
            }
            .item-icon {
                margin-right: 4px;
            }
            input {
                height: 26px;
                font-size: 15px;
            }
        }
    }
    &.plugin-remove_button [data-value] {
        padding-right: 28px !important;
        .remove {
            border: none;
            width: auto;
            padding: 4px 5px 0 0;
            &:hover {
                background: none;
            }
            &:after {
                color: @text_secondary_color;
                content: '\e5cd';
                font-family: "Material Icons";
                font-size: 18px;
            }
        }
    }
    &.single {
        height: 40px;
        margin-top: 4px;
        .selectize-input {
            border-width: 0 0 1px;
            padding: 8px 8px 9px;
            &:after {
                border: none !important;
                content: '\e5c5';
                font-family: "Material Icons";
                font-size: 28px;
                margin-top: -12px !important;
                right: 28px;
                color: rgba(0,0,0,.3);
            }
            .item {
                font-size: 15px;
            }
            input {
                font-size: 15px;
            }
        }
        &.plugin-remove_button [data-value] {
            .remove {
                padding: 0;
                &:hover {
                    background: none;
                }
                &:after {
                    color: @text_secondary_color;
                    content: '\e5cd';
                    font-family: "Material Icons";
                    font-size: 18px;
                }
            }
        }
    }
    &.rtl.single .selectize-input:after {
        left: 28px;
    }
}
.selectize_fix {
    overflow: hidden;
    height: 0;
    width: 100%;
}

.ui-select-container {
    .selectize-dropdown,
    .selectize-input,
    .selectize-input input {
        font-size: 15px;
    }
    .selectize-input {
        &.selectize-focus {
            border-color: @border_color !important;
        }
    }
    &.selectize-control {
        &.plugin-remove_button .ui-select-match-item {
            .remove {
                text-indent: -9999em;
                width: 24px;
                &:after {
                    text-indent: 0;
                    position: absolute;
                    top: 3px;
                    right: 6px;
                }
            }
        }
        > .selectize-dropdown {
          margin-top: -4px;
        }
    }
}



.tablesorter {
    .selectize-control {
        &.single,
        .selectize-input {
            min-height: 34px;
        }
        .selectize-input {
            padding: 4px 8px 5px;
        }
    }
}

.selectize-control.plugin-drag_drop {
    &.multi > .selectize-input > div.ui-sortable-placeholder {
        visibility: visible !important;
        background: @md-color-grey-50 !important;
        box-shadow: none !important;
        border: none !important;
    }
    .ui-sortable-placeholder::after {
        content: '!';
        visibility: hidden;
    }
    .ui-sortable-helper {
        .boxShadowHelper(3);
        white-space: nowrap;
    }
}