//  Line Rules
.line-show{
  .line-red{
    border: 1px solid red;
  }

  .line-green{
    border: 1px solid green;
  }

  .line-blue{
    border: 1px solid blue;
  }

  .line-yellow{
    border: 1px solid yellow;
  }
}
.line-hide{
  .line-red, .line-green, .line-blue,  .line-yellow{
    border: none !important;
  }
}